{
  "project_id": "project-id",
  "zone": "europe-west1-b",
  "machine_type": "g1-small",
  "image_family": "otus-docker",
  "source_image_family": "ubuntu-1604-lts",
  "disk_size": "10",
  "disk_type": "pd-standard",
  "network": "default",
  "image_description": "Docker baked image"
}

